<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crossbow-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,65}</string>
                <key>spriteSourceSize</key>
                <string>{145,65}</string>
                <key>textureRect</key>
                <string>{{0,0},{145,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossbow-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,65}</string>
                <key>spriteSourceSize</key>
                <string>{141,65}</string>
                <key>textureRect</key>
                <string>{{145,0},{141,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossbow-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,65}</string>
                <key>spriteSourceSize</key>
                <string>{136,65}</string>
                <key>textureRect</key>
                <string>{{286,0},{136,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossbow-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,65}</string>
                <key>spriteSourceSize</key>
                <string>{132,65}</string>
                <key>textureRect</key>
                <string>{{422,0},{132,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crossbow-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,65}</string>
                <key>spriteSourceSize</key>
                <string>{128,65}</string>
                <key>textureRect</key>
                <string>{{554,0},{128,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crossbow.png</string>
            <key>size</key>
            <string>{682,65}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1599f7b66e09d5ba943c73b39ae7e2d4:3013958a656c0392de4bc9083cf82ba9:170fd4e93bafbcddd25490cc6d2a6fde$</string>
            <key>textureFileName</key>
            <string>crossbow.png</string>
        </dict>
    </dict>
</plist>
